<section>
  <h1>{{ blogPost.title }}</h1>
  <article ng-bind-html="blogPost.body"></article>
</section>
<div class="header clearfix">
    <ul class="list-inline">
        <li>
            <a class="btn btn-primary" ui-sref="blog.single.edit({ id: blogPost.id })">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit Post
            </a>
        </li>
        <li>
            <a class="btn btn-danger" ng-click="delete(blogPost)">
                <span class="glyphicon glyphicon-remove"></span>
                Delete Post
            </a>
        </li>
    </ul>
</div>

<!-- EDIT view inserted here -->
<div ui-view></div>
